<div class="container">
    <img src="../../assets/cd.jpeg" alt="cd">
    <div class="contagem-regressiva">
        <div class="coluna">
            <p class="tempo">{{ tempo.dias | number:'2.0-0' }}</p>
            <p class="info">DIAS</p>
        </div>
        <p class="divisor">.</p>
        <div class="coluna">
            <p class="tempo">{{ tempo.horas | number:'2.0-0'}}</p>
            <p class="info">HORAS</p>
        </div>
        <p class="divisor">.</p>
        <div class="coluna">
            <p class="tempo">{{ tempo.minutos | number:'2.0-0'}}</p>
            <p class="info">MINUTOS</p>
        </div>
        <p class="divisor">.</p>
        <div class="coluna">
            <p class="tempo">{{ tempo.segundos | number:'2.0-0'}}</p>
            <p class="info">SEGUNDOS</p>
        </div>
    </div>
</div>