<div class="container">
    <img src="../../assets/cd.jpeg" alt="cd">
    <div class="countdown">
        <div class="column">
            <p class="timer">{{ demo.days | number:'2.0-0' }}</p>
            <p class="info">DIAS</p>
        </div>
        <p class="divider">.</p>
        <div class="column">
            <p class="timer">{{ demo.hours | number:'2.0-0'}}</p>
            <p class="info">HORAS</p>
        </div>
        <p class="divider">.</p>
        <div class="column">
            <p class="timer">{{ demo.minutes | number:'2.0-0'}}</p>
            <p class="info">MINUTOS</p>
        </div>
        <p class="divider">.</p>
        <div class="column">
            <p class="timer">{{ demo.seconds | number:'2.0-0'}}</p>
            <p class="info">SEGUNDOS</p>
        </div>
    </div>
</div>